.DS_Store
.idea
database.db
tmp
node_modules
/app.ini
dist
*.exe
*.po~
store
.yarn
app.testing.ini
coverage.out
service-account-credentials.json
apiclient_key.pem
pub_key.pem
.vscode/*
logs
statics/images/*
statics/audio/*
*.c
*.exe
/test/

